DATABASE_URL="mysql://root:@localhost:3306/zapple-pokemon"
HOST=127.0.0.1
PORT=3000
BODY_SIZE_LIMIT=Infinity
ADDRESS_HEADER=X-Forwarded-For

# Sveltekit dedicated
PUBLIC_URL='http://localhost:3000'
SECRET_JWT_TOKEN='asdfasdfasdfasdfasdfasdfasdfasdfasdfasdf'
SECRET_DATABASE_HOSTNAME='localhost'
SECRET_DATABASE_PORT='3306'
SECRET_DATABASE_NAME='zapple-pokemon'
SECRET_DATABASE_USERNAME='root'
SECRET_DATABASE_PASSWORD=''
PUBLIC_STRIPE_KEY="pk_test_51Sdr2rDCj6FOdZKwkkeIwQaGbiFKu3vUr46QtF7XO5AJpvb0e9Gt7niaYaLXUVHImaBXWi3Lccc2am8apNzUtxP600IG5eUdPN"
SECRET_STRIPE_KEY="sk_test_51Sdr2rDCj6FOdZKwYgphVF1zJ0dYhlBCa5RDlP3UOSp0Kh3cBeF46BBI4gLE0rZ5Lwwce4JlRaKQXTibJPYoZe1D00pMkkxYuV"