DATABASE_URL="mysql://root:@localhost:3306/zapple-pokemon"
HOST=127.0.0.1
PORT=3000
BODY_SIZE_LIMIT=Infinity
ADDRESS_HEADER=X-Forwarded-For

# Sveltekit dedicated
SECRET_JWT_TOKEN='asdfasdfasdfasdfasdfasdfasdfasdfasdfasdf'
SECRET_DATABASE_HOSTNAME='localhost'
SECRET_DATABASE_PORT='3306'
SECRET_DATABASE_NAME='zapple-pokemon'
SECRET_DATABASE_USERNAME='root'
SECRET_DATABASE_PASSWORD=''